@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

::selection {
  background-color: rgba(249, 198, 212, 0.35);
}

